.ReactTable {
  height: 29rem;
}

.ReactTable .rt-thead .rt-tr {
  height: 5rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}


.rt-td{
  display: flex;
  justify-content: center;
  min-height: 4rem;
  align-items: center;

}

.rt-tfoot{
  height: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
}