* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  font-size: 1rem;
}

.ReactTable {
  height: 29rem;
}

.ReactTable .rt-thead .rt-tr {
  height: 5rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.rt-td {
  display: flex;
  justify-content: center;
  min-height: 4rem;
  align-items: center;
}

.rt-tfoot {
  height: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.recharts-tooltip-cursor {
  visibility: hidden;
  display: none;
}

@media screen and (max-width: 767.9px) {
  .recharts-cartesian-axis-tick-value {
    font-size: 0.55rem;
  }
}
